/* Main Styles */
#demo-nav {
  background: url(/assets//img/dark-bg.png);
  min-height: 40px;
}

#demo-nav a {
  /*color: #aaa;*/
  font-weight: bold;
  
  font-size: 12px;
  
  padding: 10px 15px;
}

#demo-nav a.home {
  color: #FFBF00;
  font-size: 16px;
  padding-left: 0px;
}

.demo-wrapper {
	margin-top:-58px;
}

.demo-columns {
	margin-top: 35px;
	margin-bottom: 15px
}

.demo-note{
	color:gray;
	font-style: italic;
}

.demo-footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Debug console */
.demo-panel-debug {
	min-height: 90px;
	max-height: 90px;
	overflow: auto;
	cursor: default;
}

.demo-panel-debug ul {
	margin-bottom: 0px;
	padding-left: 0px;
	list-style-type:none;
}

.demo-panel-debug ul li,
.demo-panel-debug ul li.demo-default {
	color: gray;
}

.demo-panel-debug ul li.demo-error {
	color: #990000;
}

.demo-panel-debug ul li.demo-success {
	color: #009900;
}

.demo-panel-debug ul li.demo-info {
	color: #000099;
}

/* D&D Demo */
.demo-panel-files {
	max-height: 155px;
	min-height: 155px;
	overflow: auto;
	cursor: default;
}

.demo-file-id {
	font-weight: bold;
}

.demo-file-size{
	font-style: italic;
	color: gray;
	font-size: 90%;
}

.demo-file-status,
.demo-file-status-default{
	color: gray;
}

.demo-file-status-error{
	color: #990000;
}

.demo-file-status-success{
	color: #009900;
}

.demo-image-preview {
	float:left;
	margin-right: 10px;
	margin-top: 4px;
	height: 56px;
	width: 56px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}